// File Name: _global.less
// Description: All styles which are used globally like on every page 
// Used by: Page.less
// Dependencies:
// ------------------------------------------------------------

.wrapper{
    margin: auto;  
    width: 100%;
    max-width: @wrapper-value;
}



body,html{

}
