// File Name: _global.less
// Description: All styles which are used globally like on every page 
// Used by: Page.less
// Dependencies:
// ------------------------------------------------------------

.wrapper{
    margin: auto;  
    width: 100%;
    // max-width: @wrapper-value;
}
.revers{
    flex-direction: row-reverse;
}

.main-heading{
    font-size: 2.3rem;
    color:black;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
.main-heading:after{
    content: '';
    position: absolute;
    width: 119px;
    height: 4px;
    background: #154df1;
    transform: translate(-185%, 58px);
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }