// File Name: _button.less
// Description: All button styles and transitions
// Used by: Page.less
// Dependencies:
// ------------------------------------------------------------
@padding-20:20px;
@white:#fff;
@brand-blue:#00299e;
@border-radius-5:5px;
@button-g: linear-gradient( 
    165deg
    , #3054D4, #182A6A);

.button-blue{
padding:15px 30px;
background: @brand-blue;
color: @white;
border-radius:@border-radius-5;
}

.btn-1{
    background:@button-g;
    text-transform: uppercase;
    padding: 15px 25px;
    text-decoration: none;
    color: @white;
    border-radius: @border-radius-5;
    letter-spacing: 1.5px;
    margin-top: 40px;
}