// File Name: _button.less
// Description: All button styles and transitions
// Used by: Page.less
// Dependencies:
// ------------------------------------------------------------
@padding-20:20px;
@white:#fff;
@brand-blue:#00299e;
@border-radius-5:5px;
@button-g: linear-gradient( 
    165deg
    , #3054D4, #182A6A);

.button-blue{
padding:10px 30px;
background: @brand-blue;
color: @white;
}

.btn-1{
    background:@button-g;
    text-transform: uppercase;
    padding: 18px 25px;
    text-decoration: none;
    color: @white;
    letter-spacing: 1.5px;
    margin-top: 40px;
}
.btn{
    background: transparent;
    color: #fff;
    padding: 15px 25px 14px;
    border: 2px solid #282828;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font: 600 14px/1.2 "Montserrat", sans-serif;
    text-decoration: none;
    vertical-align: middle;
    outline: none;
    display: inline-block;
    text-align: center;
    -webkit-transition-property: background, color, border-color;
    -o-transition-property: background, color, border-color;
    transition-property: background, color, border-color;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.btn {
    border-color: #282828;
    color: #282828;
}
.btn svg{
    width: 15px;
    margin-left: 10px;
}
.submit_button {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-indent: 0.44em;
    border: none;
    background: #1a40ff;
    /* height: 55px; */
    padding: 10px 30px;
    line-height: 40px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: -8px;
    z-index: 0;
}
.submit_button:after {
    content: "";
    background-color: rgba(26, 64, 255, 0.47);
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    transition: all 0.1s linear;
    width: 100%;
    height: 60px;
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: -1;
}
.submit_button:hover {
    animation: btn_anim 1.2s infinite cubic-bezier(0.47, 0, 0.745, 0.715);
}
.submit_button:hover:after {
    top: 0;
    left: 0;
}
.read-more{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1233FF;
    cursor: pointer;
    position: relative;
}
.read-more::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #1233FF;
    bottom: -3px;
    left: 0;
    transition: 0.3s ease-in-out;
}
.read-more:hover::after{
    width: 100%;
}
.cta {
    position: relative;
    padding: 8px 17px 8px 12px;
    font-weight: 600 !important;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    z-index: 1;
    font-size: 16px !important;
    cursor: pointer;
    letter-spacing: 1px;
}
.cta svg {
position: relative;
left: 5px;
width: 15px;
fill: rgb(0, 0, 0);

}
.cta .btn-background {
position: absolute;
top: 0;
left: 64px;
right: 0;
height: 100%;
background-color: #6BBEF9;
z-index: -1;
-webkit-transition: left .2s ease-in-out;
transition: left .2s ease-in-out;
}
.cta:hover {
color: #fff;
}
.cta:hover svg{
fill: #fff;
}
.cta:hover .btn-background {
left: 0;
}