.about-bee{
    padding: 17% 0;
    .about-box{
        box-shadow: 1px 1px 62px #efefef;
        background: white;
    padding: 6%;
    border-radius: 35px;
    .main-heading{
        margin: 0;
    }
    .solution .right-img img {
        width: 450px;
    }
    }
    .solution .content-left h2 {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 30px;
        text-transform: uppercase;
        line-height: 3rem;
    }
}
.about-bee:before{
    content: '';
    background-image: url(/assets/resources/img/about-bg.svg);
    position: absolute;
    width: 400px;
    height: 440px;
    z-index: -1;
    transform: translate(1px, -100px);
    background-size: cover;

}

@media @m_screen{
    .about-bee{
        .solution {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            padding-top: 10%;
        }
        .right-img{
            margin: 20px 0; 
        }
    }
    .about-bee:before{
        display: none;
    }
    .about-bee .about-box{
        box-shadow: none;
    }
    .content-left h2 {
        font-size: 1.7rem !important;
        line-height: 2.4rem !important;
    }
}