.blog-flex{
    display: flex;
    flex-direction: row;
    padding: 8% 0;
    .col3{
        width: 33.3%;
        padding: 0 15px;
    }
    .blog-content{
        background: #fff;
        box-shadow: 1px 1px 30px #bdbdbd70;
        border-radius: 10px;
        padding-bottom: 15%;
        text-align: center;
        img{
            width:100%;
            border-radius: 10px 10px 0px 0px;
        }
        p{
            padding: 12px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
        }
        a{
            background: blue;
            color: #fff;
            padding: 10px 16px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 600;
            border-radius: 5px;
    box-shadow: 1px 0px 20px #0000ff40;
        }
    }
}