.cases-cards {
    margin-bottom: 145px;
    margin-top: 120px;
    position: relative;
}
.cases-row {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.text-col {
    line-height: 1.573;
    flex-shrink: 0;
    position: relative;
}
.cases-row .text-col {
    margin-bottom: 60px;
}

.cases-row .text-block {
    max-width: 420px;
}
.cases-row .h1, .cases-row .h2 {
    // font-weight: 400;
}

.cases-cards .h1 {
    margin-bottom: 22px;
    font-size: 48px;
}
.h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}
// .blue {
//     color: #3f60fa;
// }
.cases-row .text-col p {
    margin-bottom: 40px;
}
.cases-col {
    width: 100%;
    margin-bottom: 60px;
    position: relative;
    z-index: 2;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.cases-col {
    width: 50%;
    padding: 0 25px;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
}
.cases-col {
    width: 42.5%;
    padding: 0 3.5%;
}
.card-holder {
    display: block;
    margin-right: 90px;
    position: relative;
    height: 0;
    padding-bottom: 73.5%;
}

.card-wrap, .card-wrap:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.cta {
    position: relative;
    padding: 8px 17px 8px 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    z-index: 1;
    font-size: 18px;
    cursor: pointer;
}
.cta svg {
position: relative;
left: 0px;
width: 15px;
fill: rgb(0, 0, 0);
-webkit-transition: left .2s ease-in-out;
transition: left .2s ease-in-out;

}
.cta:hover svg{
left: 5px;
}
.cta .btn-background {
position: absolute;
top: 0;
left: 100px;
right: 0;
height: 100%;
background-color: #6BBEF9;
z-index: -1;
-webkit-transition: left .2s ease-in-out;
transition: left .2s ease-in-out;
}
.cta:hover {
color: #fff;
}
.cta:hover svg{
fill: #fff;
}
.cta:hover .btn-background {
left: 0;
}
.card-wrap {
    z-index: 3;
    transform: translate3D(0,0,0);
}

.cases-col .card {
    max-width: 100%;
}
.card {
    display: inline-block;
    vertical-align: top;
    color: #252525;
    position: relative;
    width: 100%;
    max-width: 500px;
    flex-shrink: 0;
    padding: 30px;
}
.case-card {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.card-description{
    position: absolute;
    z-index: 4;
    background: #fff;
    box-shadow: 0 0 20px #00000042;
    padding: 1px 25px;
    bottom: -60px;
}
.dots-container.static {
    background-image: url(/assets/resources/img/dots-bg.png);
    background-position: 0 0;
    background-repeat: repeat;
    background-size:cover;
    opacity:0.2 ;
    position: absolute;
    width: 450px;
    height: 790px;
    display: block;
    top: 110px;
    right: 40px;
}
.case-text{
    margin-bottom: 30px;
}
.case-text p{
    color: #000;
    letter-spacing: 1px;
    line-height: 1.4rem;
    font-size: 15px;
}
.m-b{
    margin-bottom: 10%;
}
.case-s{
    margin-top: 10%;
}
// talk
.talk-message-box {
    max-width: 785px;
    margin: auto;
    border-radius: 0px;
    background-color: #ffffff;
    padding: 48px 60px;
    position: relative;
    box-shadow: 1px 1px 32px #e4e4e4c2;
}

.talk-message-box .message-icon {
    font-size: 24px;
    width: 64px;
    height: 64px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 64px;
    background: #1233ff;
    /* box-shadow: 0 18px 40px #333305; */
    position: absolute;
    top: -35px;
    left: -35px;
    color: #086AD8;
}
.talk-message-box-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
}
.talk-message-box-content .heading {
    max-width: 384px;
    font-size: 1.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    font-style: italic;
    line-height: 1.5;
}
.ht-btn.ht-btn-sm {
    padding: 0 30px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
}

.ht-btn {
    font-size: 15px;
    font-weight: 600;
    border-style: solid;
    border-radius: 0px;
    border-color: transparent;
    padding: 0 36px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background:#1233ff;
    border-width: 1px;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    letter-spacing: 1px;
}
// .ht-btn::after {
//     content: '';
//     position: absolute;
//     width: inherit;
//     height: inherit;
//     top: 0;
//     left: 0;
//     transition: 0.3s;
// }



// .ht-btn::after {
//     background-color: goldenrod;
//     transform: translate(1.5rem, 1.5rem);
//     z-index: -2;
// }

// .ht-btn:hover {
//     transform: translate(1.5rem, 1.5rem);
//     color: white;
// }

// .ht-btn:hover::after {
//     background-color: rgb(108, 106, 255);
//     transform: translate(-1.5rem, -1.5rem);
// }
.talk-section{
    padding:10% 0;
    position: relative;
    .dots-container.static {
        background-image: url(/assets/resources/img/dots-bg.png);
        background-position: 0 0;
        background-repeat: repeat;
        background-size: cover;
        opacity: 0.2;
        position: absolute;
        display: block;
        width: 570px;
        height: 240px;
        display: block;
        top: 210px;
        left: 40px;
    }
}
.message-icon img{
    vertical-align: middle;
}
@media @m_screen{
    .banner-section {
        height: 60vh;
    }
    .case-std{
        .card-description {
            bottom: -30px;
            width: 100%;
        }
    }
    .cases-row{
        flex-direction: column;
        padding: 0 20px;
    }
    .cases-col{
        width: 100%;
    }
    .case-card img{
        width: 100% !important;
    }
    .card{
        padding: 20px;
    }
    .card-holder{
        margin-right: 30px;
        padding-bottom: 113.5%;
    }
    .cases-row .text-col p {
        font-size: 19px;
    }
    .cases-cards{
        margin-bottom: 35px;
    }
    .talk-message-box .message-icon{
        right: 0 ;
        left: 0;
        margin: 0 auto;
    }
    .talk-message-box-content{
        flex-direction: column;
    }
    .talk-message-box {
        max-width: 100%;
        padding: 28px 30px;
        text-align: center;
    }
    .message-icon img{
        vertical-align: middle;
    }
    .talk-message-box-content .heading {
        max-width: 100%;
        font-size: 1.4rem;
        margin-bottom: 20px;}
        .h1 {
            font-size: 43px;}
            .submit_button {
                font-size: 13px;
                font-weight: 600;}
                .talk-section {
                    padding: 7% 17px;
                }
}

