.case-study{
    padding: 10% 0; 
    .main-heading:after {
        transform: translate(-160%, 58px);
    }
    .flex-grid-thirds {
        display: flex;
        justify-content: space-between;
        margin-top: 10%;
      }
      .flex-grid-thirds .col {
        width: 32%;
        padding: 0 10px;
        h5{
            font-size: 18px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
        }
        p{
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 1.8rem;
            font-weight: 500;
        }
         .btn-more {
            background-color: transparent;
            padding: 3px 0px;
            border-radius: 0px;
            border: none;
            color: #00299e;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.5px;
        }
        .brand-color-hover:hover{
            color:#4200FF
        }
      }
}


.talk-message-box {
    max-width: 785px;
    margin: auto;
    border-radius: 0px;
    background-color: #ffffff;
    padding: 48px 60px;
    position: relative;
    box-shadow: 1px 1px 32px #e4e4e4c2;
}

.talk-message-box .message-icon {
    font-size: 24px;
    width: 64px;
    height: 64px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 64px;
    background: #1233ff;
    /* box-shadow: 0 18px 40px #333305; */
    position: absolute;
    top: -35px;
    left: -35px;
    color: #086AD8;
}
.talk-message-box-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
}
.talk-message-box-content .heading {
    max-width: 384px;
    font-size: 1.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    font-style: italic;
    line-height: 1.5;
}
.ht-btn.ht-btn-sm {
    padding: 0 30px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
}

.ht-btn {
    font-size: 15px;
    font-weight: 600;
    border-style: solid;
    border-radius: 0px;
    border-color: transparent;
    padding: 0 36px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background:#1233ff;
    border-width: 1px;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    letter-spacing: 1px;
}
// .ht-btn::after {
//     content: '';
//     position: absolute;
//     width: inherit;
//     height: inherit;
//     top: 0;
//     left: 0;
//     transition: 0.3s;
// }



// .ht-btn::after {
//     background-color: goldenrod;
//     transform: translate(1.5rem, 1.5rem);
//     z-index: -2;
// }

// .ht-btn:hover {
//     transform: translate(1.5rem, 1.5rem);
//     color: white;
// }

// .ht-btn:hover::after {
//     background-color: rgb(108, 106, 255);
//     transform: translate(-1.5rem, -1.5rem);
// }
.talk-section{
    padding:10% 0;
}