.contact-s1{
    padding: 5% 0;
    overflow: hidden;
    .inner-div{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0%;
    flex-wrap: wrap;
    position: relative;
    .contents{
        h2 {
            font-size: 1.9rem;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
    }
    }
}
.location-wrap {
	margin-bottom: 60px;
	position: relative
}
.case-card{
    img{
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}
@media(min-width:1024px) {
	.location-wrap {
		margin-bottom: 40px
	}
}

.location-wrap .dots-container.static {
	position: absolute;
	bottom: -40px;
	width: 260px;
	height: 50%;
	left: 40px
}

.location-holder {
	position: relative;
    width:100%;
    margin-top: 70px;
}

.location-holder.dots .dots-container {
	display: none
}

@media(min-width:1024px) {
	.location-holder.dots .dots-container {
		display: block;
		position: absolute;
		top: -110px;
		left: 71%;
		height: 315px
	}
}

.location-holder.dots .dots-container.static {
    width: 600px;
    height: 280px;
    top: unset;
    bottom: -90px;
    right: -280px;
    left: unset;
}

.location-row {
	display: flex;
	// flex-wrap: wrap;
	align-items: flex-start;
	position: relative;
	z-index: 2;
	pointer-events: none
}

@media(min-width:768px) {
	.location-row {
		margin: 0 -10px
	}
}

@media(min-width:1024px) {
	.location-row {
		margin: 0 -15px 0 0
	}
}

@media(min-width:1200px) {
	.location-row {
		margin: 0 -50px  0 5px;
	}
    
}

@media(min-width:1560px) {
	.location-row {
		margin: 0 -40px 0 5px
	}
}

.location-col {
	width: 100%;
	flex-shrink: 0;
	padding: 0 0 0 15px;
	margin-bottom: 50px;
	pointer-events: auto
}

@media(min-width:480px) {
	.location-col {
		width: 50%
	}
}

@media(min-width:768px) {
	.location-col {
		padding: 0 10px;
		width: 50%
	}
}

@media(min-width:1024px) {
	.location-col {
		width: 33.3333%;
		padding: 0 15px;
		margin-bottom: 90px
	}
}

@media(min-width:1200px) {
	.location-col {
		padding: 0 40px;
		margin-bottom: 120px
	}
}

.location-col.prime-col {
	margin-bottom: 155px;
    .case-card{
        img{
            width:100%;
        }
    }
}

@media(min-width:480px) {
	.location-col.prime-col {
		width: 60%;
		margin-left: auto;
		margin-right: auto
	}
}

@media(min-width:768px) {
	.location-col.prime-col {
		width: 50%;
		margin-bottom: 0
	}
}

@media(min-width:1024px) {
	.location-col.prime-col {
		width: 29.75%
	}
}

.location-col.prime-col .card-holder {
	padding-bottom: 97.5%
}

.location-col.prime-col .card-description {
	width: calc(100% - 20px);
	max-width: 100%
}

@media(min-width:768px) {
	.location-col.prime-col .card-description {
		bottom: auto;
		top: calc(100% - 70px);
		margin-bottom: 0;
		padding: 30px;
		width: 100%
	}
}

@media(min-width:1024px) {
	.location-col.prime-col .card-description {
		min-width: 300px;
		width: 300px
	}
}

@media(min-width:1200px) {
	.location-col.prime-col .card-description {
		width: 320px
	}
}

.location-col.sub-col {
	width: 100%;
	margin-bottom: 0;
	padding-left: 0;
	pointer-events: none
}

@media(min-width:768px) {
	.location-col.sub-col {
		width: 50%
	}
}

@media(min-width:1024px) {
	.location-col.sub-col {
		width: 69%
	}
}

@media(min-width:1200px) {
	.location-col.sub-col {
		padding-left: 10px
	}
}

.location-col h3 {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 28px
}

.location-col h3:last-child {
	margin: 0
}

@media(min-width:1024px) {
	.location-col h3 {
		font-size: 22px
	}
}

@media(min-width:1200px) {
	.location-col h3 {
		font-size: 20px;
        margin: 0;
        color: #3f60fa;
        margin-bottom: 26px;
	}
}

.location-col h3 .thin {
	font-weight: 400
}

.location-col .card {
	max-width: 100%
}

.location-col .card-holder {
	padding-bottom: 90.8%;
	margin-right: 0
}

.location-col .card-holder:hover .card-description {
	box-shadow: 0 0 15px rgba(0, 0, 0, .25)
}

.location-col .card-wrap:after {
	content: none
}

.location-col .card-description {
	transition: box-shadow .5s ease-in-out;
	pointer-events: none
}

@media(min-width:768px) {
	.location-col .card-description {
		margin-bottom: -10px;
		margin-left: -10px;
		padding-right: 5px;
		width: 90%;
		min-width: 200px
	}
}

@media(min-width:1024px) {
	.location-col .card-description {
		margin-left: -20px;
		margin-bottom: -20px
	}
}

@media(min-width:1200px) {
	.location-col .card-description {
	    margin-left: 0px;
    margin-bottom: -62px;
    padding: 19px 20px;
	}
}

@media(min-width:768px) {
	.location-col .card-description-wrap {
		position: absolute;
		left: 0;
		top: calc(100% - 70px);
		margin-bottom: -10px;
		margin-left: -10px;
		padding-right: 5px;
		width: 100%;
		min-width: 200px
	}
}

@media(min-width:1024px) {
	.location-col .card-description-wrap {
		margin-left: -20px;
		margin-bottom: -20px
	}
}

@media(min-width:1200px) {
	.location-col .card-description-wrap {
		margin-left: -40px;
		margin-bottom: -40px
	}
}

@media(min-width:768px) {
	.location-col .card-description-wrap .card-description {
		margin-bottom: 0;
		margin-left: 0;
		padding-right: 5px;
		width: 100%;
		min-width: 200px;
		position: relative;
		top: 0
	}
}

.location-col .case-card:after {
	content: none
}

.location-col .location-descr {
	color: #fff;
	background-color: #3f60fa;
	text-align: center;
	font-weight: 700;
	width: calc(100% - 20px);
	padding: 1em 2em;
	position: absolute;
	left: -20px;
	top: calc(100% + 50px);
    p{
        color: #fff;
        text-align: left;
    }
}

@media(min-width:768px) {
	.location-col .location-descr {
		position: static;
		margin-top: 20px;
		width: 100%
	}
}

@media(min-width:1560px) {
	.location-col .location-descr {
		font-size: 1.143rem;
		padding: 1em 3em
	}
}

.location-col .location-descr p {
	margin: 0
}

.location-col .country {
	display: block;
	font-weight: 700;
	margin-bottom: 3px;
	color: #3f60fa
}

@media(min-width:1024px) {
	.location-col .country {
		font-size: 16px
	}
    .location-col .location-descr {
        position: static;
        margin-top: 20px;
        width: 70%;
        margin-left: 60px;
        p{
            text-transform: uppercase;
        }
    }
}
.card-description {
    position: absolute;
    z-index: 4;
    background: #fff;
    box-shadow: 0 0 20px #00000042;
    padding: 1px 25px;
    bottom: 0px;
}
.sub-row {
	position: relative;
	pointer-events: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

// .sub-row:last-child:before {
// 	content: "";
// 	position: absolute;
// 	top: calc(50% - 60px);
// 	bottom: calc(50% - 80px);
// 	left: -9999px;
// 	right: -9999px;
// 	background-color: #252525;
// 	z-index: -5
// }

@media(min-width:768px) {
	.sub-row {
		justify-content: flex-start;
		margin: 0 -10px 0 0
	}
}

@media(min-width:1024px) {
	.sub-row {
		display: flex;
		margin: 0 -15px 0 0;
		padding-left: 10px
	}
}

@media(min-width:1200px) {
	.sub-row {
		display: flex;
		margin: 0 -60px 0 0;
        .location-col{
            .card-holder{
                .card-description{
                    height: 29px;
                    overflow: hidden;
                    transition: all 0.5s ease-in-out;
                }
                
            }
        }
        .location-col:hover{
            .card-holder{
                .card-description{
                    height: 100%;
                    overflow: hidden;
                    transition: all 0.5s ease-in;
                }
                
            }
        }
	}
}

.address {
	display: block;
	font-weight: 500;
	font-style: normal;
	line-height: 2.143;
	margin-bottom: 15px
}

.contact-list {
	pointer-events: auto;
    list-style: none;
    padding-left: 0;
}

.contact-list li {
	margin-bottom: 10px
}

.contact-list li:last-child {
	margin-bottom: 0
}

.contact-list a {
    color: #000;
    font-weight: 500;
	transition: color .3s ease-in-out;
}

.contact-list a:hover {
	color: #3f60fa
}
