.footer-cta{
    padding:13% 0;
    background: url('/assets/resources/img/got-questions.svg') center 140px no-repeat;
    .lets{
        text-align: center;
        h3{
            font-size: 2.5rem;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}