@color:#fff;
@background-transparent:transparent;
@color-black:#000;
@font-size1:17px;
@font-size2:18px;
@font-size3:19px;
@font-size4:20px;
@font-w100:100;
@font-w300:300;
@font-w400:400;
@font-w500:500;

.fixed{
    // height: 80px;
    background: #fff;
    box-shadow: 1px 1px 12px #cedaffa6;
    z-index: 1005;
   
}
header{
  padding: 0 3%;
  transition:0.3s ease-in;
  position: fixed;
  z-index: 9;
  width: 95%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
.navs{
  margin: 0;
}
    nav{
        display: flex;
        justify-content: space-between;
        margin:0 auto;
        padding: 0px;
        background-color:@background-transparent;
        border-radius: 10px;
        align-items: center;
        
    }
  
    nav h1{
        width: 16%;
        margin-left: 16px;
        margin-top: 18px;
    margin-bottom: 0;
    }
        
    nav ul li{
        display: inline-block;
        list-style: none;
        margin-right: 28px;
    }
    nav ul li a{
      text-decoration: none;
      color: #636363;
      position: relative;
      display: inline-block;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    nav ul li a::before{
        content: attr(data-text);
        color:blue;
        position: absolute;
        left: 0;
        top: 0%;
        width: 0%;
        white-space: nowrap;
        overflow: hidden;
        transition: .5s;
        
    
    }
    nav ul li a:hover::before{
        width: 100%;
    }
    nav ul .acount:hover .mega-acount{
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
    .hamburger-menu, .right-cta{
        display: none;
    }
    // .mega-menu::before{
    //   content:'' ;
    //   width: 20px;
    //   height: 20px;
    //   position: absolute;
    //   background: #fff;
    // }
    .mega-menu{
      width: 100%;
      max-width: 1000px;
      background: #fff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 1px 8px 25px #66666642;
      position: absolute;
      z-index: 9;
      transform: translateY(25px);
      transition: all .3s ease;
      visibility: hidden;
      opacity: 0;
      right:20px;
      top:96px;
      .flex-mega{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        // align-items: center;
        .flex{
          display: flex;
          flex-direction: row;
          justify-content:space-between;
        }
        .blue-card{
          width: 25%;
          padding: 20px;
          background:linear-gradient(177deg, #3054D4, #062684);
          border-radius: 10px;
          box-shadow: 1px 8px 25px #66666642;
          ul{
            list-style: none;
                padding: 0;
            li{
              margin-bottom:40px ;
              a{
                font-size: 1rem;
                font-weight: 600;
                color: #fff;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                span{
                  vertical-align: middle;
                  margin-right: 10px;
                }
                img{
                  width: 20px;
                  filter:invert(1);
                }
              }
              p{
                font-size: 13px;
                color: #fff;
                letter-spacing: 0.5px;
                line-height: 17px;
              }
            }
          }
          .social{
            position: relative;
            bottom: -30px;
            h5{
              font-size: 12px;
              font-weight: 600;
              letter-spacing: 1px;
              text-transform: uppercase;
              color: #fff;
            }
            a img{
              width: 20px;
              margin-right: 2px;
            }
          }
        }
        .right-row{
          width: 70%;
          .logo-div{
            padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 20px #a2a2a236;
    border-radius: 17px;
    margin-left: 49px;
    margin-top: 30px;
ul {
  padding: 0;
  li{
    margin-right: 0;
  }
  li img{
    width: 75px;
    padding:0 10px;
  }
}
          }
        }
        .right-menu{
          width: 33%;
    padding-left: 47px;
    h3{
      margin-top: 0;
      text-transform: uppercase;
      font-weight: 700;
      font-size:17px;
      letter-spacing: 1px;
      
    }
    ul{
      list-style: none;
      padding: 0;
      li{
        padding: 6px 0;
        a{
          color: #000;
          font-weight: 500;
          font-size: 15px;
          letter-spacing: 0.8px;
        }
      }
    }
        }
        .wight-40{
          width:55%;
          padding-left: 0;
        }
      }
    }
    
    
    .enquire{
        font-size: 15px;
        font-weight: @font-w500;
        letter-spacing: 1px;
    }
    
@media(max-width:700px){
  padding: 0;
    transition: height 0.5s ease-in;
    /* height: 100vh; */
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
   
  .fixed nav{
    padding: 0 10px;
  }
  .hamburger-menu, .right-cta{
      display: block;
  }
  .hamburger-menu{
      margin-right: 25px;
  }
  nav{
      display: flex;
      text-align: center;
      padding: 0 10px;
  }
  nav ul li{
      display: block;
      padding: 10px 0;
      margin-right: 0;
      text-align: left;
      color: #000;
  }
  nav ul{
      display: none;
  }
   nav h1 {
      width: 56%;
  }
  #menu__toggle {
      opacity: 0;
    }
    
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      left: 0;
    }
    
    .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      top: 27px;
      left: 20px;
    
      width: 26px;
      height: 26px;
    
      cursor: pointer;
      z-index: 1;
    }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
    
      width: 100%;
      height: 2px;
    
      background-color: #616161;
    
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    
    .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #ffffff;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      overflow: auto;
      transition-duration: .25s;
    }
    
    .menu__item {
      display: block;
      padding: 12px 17px;
      color: #000;
      font-size: 15px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
    }
    .menu__item:hover {
      background-color: #CFD8DC;
    }
      .right-cta  .enquire {
          font-size: 10px;
          font-weight: 400;
          letter-spacing: 1px;
          margin-left: 30px;
          padding: 11px 20px;
      }
     
}

}

.collapse-item .sub-nav, .sub-item{
  display:block !important;
}
.collapse-item{
  display: none;
  width: 96%;
  ul{
    padding: 0 10px;
  }
  ul li{
    padding: 0px 0;
  }
  ul li h3{
    font-size: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
  }
}

.collapse svg{
  transition: .3s ease;
  float: right;
  margin: 0px 15px;
  width: 10px;
}

.collapse span{
  display: inline-block;
  margin: 0px 15px;
}

.active svg{
  transform: rotate(45deg);
}

.collapse:nth-of-type(odd) path{
  fill: #000000;
}

.collapse:nth-of-type(even) path{
  fill: #21c3a2;
}
.collapse:last-of-type .active .collapse span{
  color: #3054D4;
}
.collapse .collapse-header{
  padding: 15px 0px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.collapse:first-of-type .collapse-header{
  border-radius: 5px 5px 0px 0px ;
}

.collapse:last-of-type .collapse-header{
  border-radius: 0px 0px 5px 5px;
}

.collapse:last-of-type .active{
  border-radius: 0px !important;
  background-color: rgba(136,136,136,.05);
  color: #3054D4 !important;
}


.collapse:last-of-type .active+.collapse-item a:last-of-type {
  border-radius: 0px 0px 5px 0px;
}

.collapse:nth-of-type(odd) .collapse-header{

  color: #000000;
}

.collapse:nth-of-type(even) .collapse-header{
  background: #ffffff;
  color: #21c3a2;
}
.collapse:last-of-type .collapse-header{
  position: relative;
}
.collapse:last-of-type  .active::after{
content: "";
display: block;
position: absolute;
height: 100%;
width: 2px;
left: 0;
top: 0;
opacity: 1;
background: #3054D4 ;
}
.collapse a{
  display: block;
    padding: 10px;
    font-size: 13px;
    color: #848484;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 500;
}

.collapse a:hover{
  padding-left: 20px;
  color: #21c3a2;
}
@media @s_desktop{
  header nav ul li a{
    font-size: 13px;
  }
}


