




.hero-section{
    display: flex;
    background-image: url('/assets/resources/img/hero-bg.svg');
    background-size: cover;
    height: 87vh;
    justify-content: space-around;
    align-items: center;
    padding: 0 3%;
    
    .left-content{
        padding-right: 4%;
    }
    .left-content h1{
     font-weight: 300;
     line-height: 1.4em;
     font-family: 'Montserrat', sans-serif;
     font-size: 3rem;
     text-transform: uppercase;
    letter-spacing: 1px;
    }
    .left-content p{
        font-size: 1.6rem;
        letter-spacing: 1px;
        line-height: 1.5em;
        margin-bottom: 70px;
    }
    .right-image{
        align-items: center;
    }
    .right-image img{
        width: 880px;
        max-width: 100%;
    }
   
}
.platform{
    padding: 5rem 7rem;
    
    .plat-logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;  
        overflow: hidden;
    
        .section-logo{
            width: 80vw;
        }
    }
    .wrk{
        background-image: url(/assets/resources/img/platform-bg.svg);
        height: 30vh;
        background-size: contain;
        width: 18vw;
        background-repeat: no-repeat;
        p{
            font-size: 1.5rem;
            letter-spacing: 2px;
            padding: 50px 50px;
            line-height: 37px;
            color: #fff;
            font-weight: 100;
            text-transform: uppercase;
        }
    }
}

 @media only screen and (max-width:767px){
        .hero-section{
        flex-direction:column;
        height: auto;
    }
    }

