.hero-section{
    @media only screen and (min-width:1600px){
        .right-image svg{
            width: 700px !important;
        }
        .left-content {
            padding-right: 14% !important;
        }
    }
    display: flex;
    background-image: url('/assets/resources/img/hero-bg.svg');
    background-size: cover;
    height: 87vh;
    justify-content: space-around;
    align-items: center;
    padding: 0 3%;
    position: relative;
    margin-top: 7%;
    .el1{
        background: url(/assets/resources/img/elemets-all.png) no-repeat -907px -54px;
        width: 41px;
        height: 42px;
        z-index: 2;
        position: absolute;
        top: 80px;
    }
    .el2{
        background: url('/assets/resources/img/elemets-all.png') no-repeat -1039px -57px;
	width: 41px;
	height: 36px;
        z-index: 2;
        position: absolute;
        top: 34px;
        right: 280px;
    }
    .el3 {
        background: url('/assets/resources/img/elemets-all.png') no-repeat -1513px -55px;
        width: 41px;
        height: 40px;
        position: absolute;
        bottom: 34px;
        left: 280px;
    }
    .sll{
        position: absolute;
        bottom: 34px;
        left: 280px;
    }
    .left-content{
        padding-right: 4%;
    }
    .left-content h1{
        font-weight: 300;
        line-height: 1.3em;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.2rem;
        text-transform: uppercase;
       letter-spacing: 1px;
    }
    .left-content p{
        font-size: 1.1rem;
        letter-spacing: 1px;
        line-height: 1.5em;
        margin-bottom: 70px;
        font-weight: 500;
        padding-right: 20px
    }
    .right-image{
        align-items: center;
    }
    .right-image img{
        width: 880px;
        max-width: 100%;
    }
   
    .button {
        font-size: 15px;
        line-height: 1;
        color: #fff;
        letter-spacing: 0.1em;
        background: #2d52cf;
        text-transform: uppercase;
        padding: 17px 0 17px;
        cursor: pointer;
        border: 0;
        border-radius: 2px;
        min-width: 160px;
        overflow: hidden;
        text-align: center;
        position: absolute;
        /* top: 50%; */
        left: 8%;
        transform: translate(-50%, -50%);
    }
  
  .button span {
    display: block;
    position: relative;
    z-index: 10;
  }
  
  .button:after,
  .button:before {
    padding: 18px 0 11px;
    content: '';
    position: absolute;
    top: 0;
    left: calc(-100% - 30px);
    height: calc(100% - 29px);
    width: calc(100% + 20px);
    color: #fff;
    border-radius: 2px;
    transform: skew(-25deg);
  }
  
  .button:after {
    background: #fff;
    transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
    z-index: 0;
    opacity: 0.8;
  }
  
  .button:before {
    background: #0035f4;
    z-index: 5;
    transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  .button:hover:after {
    left: calc(0% - 10px);
    transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  .button:hover:before {
    left: calc(0% - 10px);
    transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
  }
}
.platform{
    padding: 5rem 7rem;
    
    .plat-logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;  
        overflow: hidden;
    
        .section-logo{
            width: 80vw;
        }
    }
    .wrk{
        background-image: url(/assets/resources/img/platform-bg.svg);
    height: 20vh;
    background-size: contain;
    width: 18vw;
    background-repeat: no-repeat;
    padding: 50px 50px;
        p{
            font-size: 1.5rem;
            letter-spacing: 2px;
            line-height: 37px;
            color: #fff;
            font-weight: 300;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;

            
        }
        p:before{
            content: '';
            width: 3px;
            height: 100px;
            background: #fff;
            transform: translate(-14px, 7px);
            position: absolute;
            
        }
    }
}

 @media only screen and (max-width:767px){
     
        .hero-section{
        flex-direction:column;
        height: auto;
        padding-bottom: 60px;
        margin-top: 15%;
    }

    .hero-section .button{
        left:80px;
    }
    .hero-section .left-content p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin-bottom: 32px;
}
    .hero-section .left-content {
        padding-right: 0%;
    }
    .hero-section .left-content h1 {
        font-weight: 300;
        line-height: 1.4em;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .hero-section .right-image {
        align-items: center;
        margin-top: 81px;
        display: none;
    }
    .platform {
        padding: 6rem 0rem;
    }
    .platform .wrk {
        padding: 24px 17px 20px 27px;
        width: auto;
        height: auto;
    }
    ​
    .platform .wrk p {
        font-size: 1.1rem;
        letter-spacing: 2px;
        line-height: 31px;
        color: #fff;
        font-weight: 100;
        text-transform: uppercase;
    }
    ​
    .slide {
        margin: 0px 35px;
    }
    ​
    .platform .plat-logo .section-logo {
        width: 100vw;
    }
    }

